.header{
    margin: 20px;
    font-weight: bold;
    font-size: 24px;
    a{
color: white;
    }
}
.marginLeft{
    margin-left: 250px;
}
.Logo{
    width: 95vw;
    font-family: cursive;
    font-size: 40px;
    margin-left: 20px;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #997788;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #a4b190;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.gallery-list{
  a{
    text-decoration: none;
    margin-right: 20px;
    font-family: cursive;
  }
}
.gallery-item{
  color: #997788 !important;
}