<router-outlet></router-outlet>
<nav class="navbar navbar-expand-lg header" [ngClass]="{'marginLeft': displaySideMenu}">
   <!--<a class="nav-link" (click)="openNav()" role="button">
          &#9776;
        </a>-->
  <a class="navbar-brand Logo" href="#" (click)="closeNav('home')" [ngClass]="{'gallery-item': stylingClass === 'gallery-item'}" >CSS ART</a>
  <div class="gallery-list">
<a routerLink='/flower' (click)="closeNav('gallery')" [ngClass]="{'gallery-item': stylingClass === 'gallery-item'}" >Flower</a>
  <a routerLink='/cactus' (click)="closeNav('gallery')" [ngClass]="{'gallery-item': stylingClass === 'gallery-item'}">Cactus</a>
  </div>
</nav>
<!--<div *ngIf="displaySideMenu" id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink='/flower'>Flower</a>
  <a routerLink='/cactus'>Cactus</a>
</div>-->
