<div class="back-container">
    <div class="upper-back">
    <div class="up-left-back-square"></div>
    <div class="up-right-back-square"></div>
</div>
<div class="lower-back">
    <div class="down-left-back-square"></div>
    <div class="down-right-back-square"></div>
</div>
</div>
<div class="front-container">
     <div class="upper-front">
    <div class="up-left-front-square"></div>
    <div class="up-right-front-square"></div>
</div>
<div class="lower-front">
    <div class="down-left-front-square"></div>
    <div class="down-right-front-square"></div>
</div>
</div>
<div class="center"></div>