.top-background, .middle-background, .bottom-background{
 position: absolute;
    height: 0;
    border-top: 250px solid #997788;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}
.top-background{
    width: 100vw;
    top: 0;
}
.middle-background{
    width: 80vw;
    top: 150px;
    left: 10vw;  
}
.bottom-background{
    width: 60vw;
    top: 300px;
    left: 20vw;
}
.circle-1, .circle-2, .circle-3{
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: white;
    opacity: 0.5;
}

.circle-1{
top: 300px;
    right: 180px;
}

.circle-2{
    left: 60px;
    top: 150px;
}

.circle-3{
    left:280px;
    top:430px;
}

.header{
   position: absolute;
    top: 30vh;
    left: 34vw;
    font-size: 65px;
    font-family: cursive;
    color: white; 
}
.home-paragraph{
    position: absolute;
    top: 45vh;
    left: 37vw;
    font-size: 25px;
    font-family: cursive;
    color: white;
    text-align: center;
}