@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
.back-container{
    top: 80px;
    left: 220px;
}
.back-container, .front-container{
    position: absolute;
    z-index: 2;
    animation-name: spin;
    animation-duration: 40000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.up-left-back-square,
.up-left-front-square, 
.up-right-back-square, 
.up-right-front-square,
.down-left-back-square,
.down-left-front-square,
.down-right-back-square,
.down-right-front-square {
 height: 200px;
    width: 200px;
    border: 5px solid black;
    display: inline-block;
}
.up-left-back-square,
.up-right-back-square,
.up-left-front-square,
.up-right-front-square{
    background:linear-gradient(180deg, #f7cac9 0%, rgba(170, 225, 181, 0.80) 100%);
}
.down-left-back-square,
.down-right-back-square,
.down-left-front-square,
.down-right-front-square{
    background:linear-gradient(180deg, #aaffb5 0%, rgba(247, 202, 201, 0.80) 100%);
}
.down-left-front-square,
.down-right-front-square,
.up-left-front-square,
.up-right-front-square{
    border-radius: 50px;
}
.up-left-back-square{
    border-radius: 125px 50px 0px 50px;
}
.up-right-back-square{
    border-radius: 50px 125px 50px 0px;
    margin-left: 5px;
}
.down-left-back-square{
    border-radius: 50px 0px 50px 125px;
}
.down-right-back-square{
    border-radius: 0px 50px 125px 50px;
    margin-left: 5px;
}
.front-container{
    top: 95px;
    left: 235px;
    transform: rotate(135deg);
}
.lower-front{
    margin-top: -40px;
}
.up-left-front-square{
    margin-left: 5px;
}
.up-right-front-square{
    margin-left: -30px;
}
.down-left-front-square{
    margin-left: 5px;
    }
.down-right-front-square{
    margin-left: -30px;
    }
.center{
   position: absolute;
    top: 250px;
    left: 390px;
    z-index: 2;
    border: 3px solid black;
    height: 70px;
    width: 70px;
    background-color: #bb1587;
    border-radius: 37px;
}