<div class="container-1">
    <div class="cactus">
        <div class="right">
            <div class="right-right-line"></div>
            <div class="right-middle-line"></div>
            <div class="right-left-line"></div>
        </div>
        <div class="middle">
            <div class="middle-right-line"></div>
            <div class="middle-middle-line"></div>
            <div class="middle-left-line"></div>
        </div>
        <div class="left">
            <div class="left-right-line"></div>
            <div class="left-middle-line"></div>
            <div class="left-left-line"></div>
        </div>
        
    </div>
    <div class="pot">
        <div class="lightening"></div>
    </div>
</div>
<div class="container-2">
    <div class="round-cactus">
        <div class="inner-round-cactus">
            <div class="inner-2">
                <div class="inner-3"></div>
            </div>
        </div>
    </div>
    <div class="pot">
        <div class="lightening"></div>
    </div>
</div>
<div class="container-3">
    <div class="oval-cactus">
        <div class="bottom">
            <div class="inner-1"></div>
            <div class="inner-2"></div>
            <div class="inner-3"></div>
        </div>
        <div class="medium">
            <div class="inner-1"></div>
            <div class="inner-2"></div>
            <div class="inner-3"></div>
        </div>
        <div class="top">
            <div class="inner-1"></div>
            <div class="inner-2"></div>
            <div class="inner-3"></div>
        </div>
    </div>
    <div class="pot">
        <div class="lightening"></div>
    </div>
</div>
<div class="container-4">
    <div class="double-oval-cactus">
        <div class="back">
            <div class="inner-1"></div>
            <div class="inner-2"></div>
            <div class="inner-3"></div>
            <div class="inner-4"></div>
        </div>
        <div class="front">
            <div class="inner-1"></div>
            <div class="inner-2"></div>
            <div class="inner-3"></div>
            <div class="inner-4"></div>            
        </div>
    </div>
     <div class="pot">
        <div class="lightening"></div>
    </div>
</div>